# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# =========================
# Node.js / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Files
dist/
build/

# Vite
.vite/

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.tar

# =========================
# Logs
# =========================
*.log

# =========================
# Testing
# =========================
.coverage
.pytest_cache/

# =========================
# React Cache
# =========================
.cache/

# =========================
# Misc
# =========================
*.swp
*.swo